{% extends "base-page.html" %}

{% load widgets %}
    
{% block htmllink-styles %}
<link rel="stylesheet" href="{{STATIC_URL}}/css/form.css">
{% endblock %}

{% block container %}      
<div id="main">

  {% if event %}
    <form action="{% url app.views.event_edit event.id %}" method="post" class="form-horizontal">
  {% else %}
    <form action="{% url app.views.event_new %}" method="post" class="form-horizontal">
  {% endif %}
  
    {% csrf_token %}
    {% application event %}

    <div class="form-actions">
      <button class="btn btn" type="submit" name="submit">Cancel</button>
      <button class="btn btn" type="submit" name="submit">Save</button>
      <button class="btn btn-primary" type="submit" name="submit">Submit</button>
    </div>
  </form>
</div>      
{% endblock %}
