{% extends "base-page.html" %}

{% load widgets %}
    
{% block htmllink-styles %}
<link rel="stylesheet" href="{{STATIC_URL}}/css/form.css">
{% endblock %}

{% block htmllink-js %}
<script src="{{ STATIC_URL }}/js/form.js"></script>
<script src="{{ STATIC_URL }}/js/itemlist.js"></script>
{% endblock %}

{% block container %}

<div id="main">
  <!-- 0 is passed into app.views.event_edit to suppress the errors of invalid arg -->
  <!-- a better solution would be to make the argument in event_edit optional -->
  <!-- but that solution didn't seem to work -->
  <form action="{% url app.views.event_new %}" method="post" class="form-horizontal">    
    {% csrf_token %}
    
    <div class="section-header">
      <h2>
        Event
        <small>details about the event</small>
      </h2>
    </div>    
    <div class="section-content">
      <fieldset>
        <div class="control-group">
          <label for="questionname" class="control-label">Event Name</label>
          <div class="controls">
            <input value="{{ event.name }}" type="text" name='name' id="questionname" class="input-xlarge" {{ disabled_if_funder }}>
            <p class="help-block">Name of the event</p>
          </div>
        </div>
        <div class="control-group">
          <label for="questiondate" class="control-label">Event Date</label>
          <div class="controls">
            <input value="{{ event.date.isoformat }}" type="date" name='date' id="questiondate" class="input-xlarge datepicker" {{ disabled_if_funder }}>
            <p class="help-block">Date of the event</p>
          </div>
        </div>
        <div class="control-group">
          <label for="questionlocation" class="control-label">Location</label>
          <div class="controls">
            <input value="{{ event.location }}" name="location" type="text" id="questionlocation" class="input-xlarge" {{ disabled_if_funder }}>
            <p class="help-block">Location of the event</p>
          </div>
        </div>        
        <div class="control-group">
          <label for="questionorganizations" class="control-label">Organization(s)</label>
          <div class="controls">
            <input value="{{ event.organizations }}" type="text" name='organizations' id="questionorganizations" class="input-xlarge" {{ disabled_if_funder }}>
            <p class="help-block">Organization(s) involved with the event</p>
          </div>
        </div>
      </fieldset>
    </div>
    
    <div class="section-header">
      <h2>
        True / False Questions
        <small>to recommend funders</small>
      </h2>
    </div>
    <div class="section-content">
      <fieldset>
        <div class="bool-q" data-qid="0" data-funders="0 1" data-expected="true false">
          <label class="control-label">
            ORG1 likes this. ORG2 doesn't. Answer well. 
          </label>
          <label class="radio inline">
            <input type="radio" name="bool1" value="true"> Yes
          </label>
          <label class="radio inline">
            <input type="radio" name="bool1" value="false"> No
          </label>
        </div>
        <div class="bool-q" data-qid="1" data-funders="1 2" data-expected="true false">
          <label class="control-label">
            ORG2 likes this. ORG3 doesn't like this. What's your answer?
          </label>
          <label class="radio inline">
            <input type="radio" name="bool2" value="true"> Yes
          </label>
          <label class="radio inline">
            <input type="radio" name="bool2" value="false"> No
          </label>
        </div>
      </fieldset>
    </div>
    
    <div class="section-header">
      <h2>
        Free-Response Questions
      </h2>
    </div>
    <div class="section-content">
      <fieldset>
        <div class="control-group">
          <label for="question01" class="control-label">Question 1</label>
          <div class="controls">
            <input type="text" id="question01" class="input-xlarge">
            <p class="help-block">Help text for Question 1 goes here.</p>
          </div>
        </div>
        <div class="control-group">
          <label for="question02" class="control-label">Question 2</label>
          <div class="controls">
            <input type="date" id="question02" class="input-xlarge datepicker">
            <p class="help-block">Help text for Question 2 goes here.</p>
          </div>
        </div>
      </fieldset>
    </div>
    
    <div class="section-header">
      <h2>
        Items
        <small>list line items for funding</small>
      </h2>
    </div>
    
    <div class="section-content">
      <p>
        {% if user.get_user_profile.is_requester %}
        {% itemlist_requester items %}
        {% else %}
        {% itemlist_funder event.item_set.all cfauser_id %}
        {% endif %}
      </p>
    </div>
    
    <div class="section-header">
      <h2>
        Funders
        <small>select to apply</small>
      </h2>
    </div>
    <div class="section-content">
      {% for funder in test_funders %}
      <div class="funder-check">
        <label class="checkbox">
          <input data-funderid="{{forloop.counter0}}" type="checkbox">{{funder.0}}
        </label>
        <p class="help-block">{{funder.1}}</p>
      </div>
      {% endfor %}
    </div>
    
    <div class="section-header">
      <h2>
        Extra Questions
        <small>specific to each funder</small>
      </h2>
    </div>
    <div class="section-content">
      <p id="funder-no-q">No questions yet. Please select funders.</p>
      {% for q, qval in funder_qs.items %}
      <div class="funder-q {{qval.0}}">
        <label>{{q}} <em>(for {{qval.1}})</em></label>
        <textarea class="span8" rows="3"></textarea>
      </div>
      {% endfor %}
    </div>
    
    <input type="hidden" name="event_id" value="{{ event.id }}" />
    
    <div class="form-actions">
      <button class="btn btn" type="submit" name="submit">Cancel</button>
      <button class="btn btn" type="submit" name="submit">Save</button>
      <button class="btn btn-primary" type="submit" name="submit">Submit</button>
    </div>
  </form>
    
</div>      
{% endblock %}
