{% extends "base-page.html" %}

{% load widgets %}
{% load static %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{% static "css/jquery.timepicker.css" %}">
<link rel="stylesheet" href="{% static "css/form.css" %}">
{% endblock %}

{% block htmllink-js %}
<script src="{% static "js/lib/jquery.timepicker.min.js" %}"></script>
<script src="{% static "js/lib/jquery.autosize.min.js" %}"></script>
<script src="{% static "js/lib/bootstrap.min.js" %}"></script>
<script src="{% static "js/recs.js" %}"></script>
<script src="{% static "js/form.js" %}"></script>
<script src="{% static "js/itemlist.js" %}"></script>
<script src="{% static "js/requester.js" %}"></script>
{% endblock %}

{% block container %}
<div id="main">

  {% if messages %}
  {% for message in messages %}
  <div class='alert {% if message.tags %}alert-{{ message.tags }}{% endif %}'>
    <button type='button' class='close' data-dismiss='alert'>&times;</button>
    <strong>{{ message.tags|capfirst }}!</strong> {{ message }}
  </div>
  {% endfor %}
  {% endif %}

  {% if event %}
    <form action="{% url 'event-edit' event.id %}" method="post" class="form-horizontal">
  {% else %}
    <form action="{% url 'new-event' %}" method="post" class="form-horizontal">
  {% endif %}

    {% csrf_token %}
    {% application user event form %}

    <div class="form-group">
      <p>Make sure that no field is left empty to avoid errors.</p>
      <a class="btn btn-secondary" href="{% url 'events' %}">Cancel</a>
      <button class="btn btn-default" type="submit" name="save-event">Save</button>
      <button class="btn btn-primary" type="submit" name="submit-event">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
