{% extends "base-page.html" %}

{% load widgets %}
{% load static %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{% static "css/form.css" %}">
{% endblock %}

{% block htmllink-js %}
<script src="{% static "js/lib/jquery.timepicker.min.js" %}"></script>
<script src="{% static "js/lib/jquery.autosize.min.js" %}"></script>
<script src="{% static "js/recs.js" %}"></script>
<script src="{% static "js/form.js" %}"></script>
<script src="{% static "js/itemlist.js" %}"></script>
{% endblock %}

{% block container %}
<div id="main">

    <form action="." method="post" class="form-horizontal">

    {% csrf_token %}
    {% application user event None %}

    {% if user and user.profile.is_funder %}
    <p>To submit your funding changes and any comments, click "Save." <br>
      To share a read-only copy of this application, click "Share."</p>
    <div class="form-group">
      <button class="btn btn-secondary" type="submit" name="submit">Cancel</button>
      <button class="btn btn-primary" type="submit" name="submit">Save</button>
      <a class="btn btn-info" href="#" data-target="#share" data-toggle="modal">Share</a>
      <button id="no-fund" class="btn btn-danger" type="submit" name="submit" hidden="">Do Not Fund</button>
    </div>
    {% else %}
    <div class="form-group">
      <a class="btn btn-primary" href="{% url 'events' %}">Done</a>
    </div>
    {% endif %}
  </form>
</div>

<div id="share" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Share this link</h3>
        <button type="button" class="close float-right" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <p>
          Anyone with this link will be able to access a read-only version of this application.
        </p>
          <pre class="share-link"><a href="{{event.get_absolute_url}}?key={{event.secret_key}}&id={{user.id}}">https://penncfa.com{{event.get_absolute_url}}?key={{event.secret_key}}&id={{user.id}}</a></pre>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
