{% extends "base-page.html" %}

{% load widgets %}
    
{% block htmllink-styles %}
<link rel="stylesheet" href="{{STATIC_URL}}css/jquery.timepicker.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/form.css">
{% endblock %}

{% block htmllink-js %}
<script src="{{ STATIC_URL }}js/lib/jquery.timepicker.min.js"></script>
<script src="{{ STATIC_URL }}js/recs.js"></script>
<script src="{{ STATIC_URL }}js/form.js"></script>
<script src="{{ STATIC_URL }}js/itemlist.js"></script>
<script src="{{ STATIC_URL }}js/requester.js"></script>
{% endblock %}

{% block container %}      
<div id="main">

  {% if event %}
    <form action="{% url app.views.event_edit event.id %}" method="post" class="form-horizontal">
  {% else %}
    <form action="{% url app.views.event_new %}" method="post" class="form-horizontal">
  {% endif %}
  
    {% csrf_token %}
    {% application user event %}

    <div class="form-actions">
      <a class="btn" href="{% url app.views.events %}">Cancel</a>
      <button class="btn" type="submit" name="save-event">Save</button>
      <button class="btn btn-primary" type="submit" name="submit-event">Submit</button>
    </div>
  </form>
</div>      
{% endblock %}
