{% extends "base-page.html" %}

{% load widgets %}
    
{% block htmllink-styles %}
<link rel="stylesheet" href="{{STATIC_URL}}/css/form.css">
{% endblock %}

{% block htmllink-js %}
<script src="{{ STATIC_URL }}/js/form.js"></script>
<script src="{{ STATIC_URL }}/js/itemlist.js"></script>
{% endblock %}

{% block container %}
  
<div id="main">
    
  <form action="" method="post" class="form-horizontal">    
    {% csrf_token %}
    
    <div class="section-header">
      <h2>
        Event
        <small>details about the event</small>
      </h2>
    </div>    
    <div class="section-content">
      <fieldset>
        <div class="control-group">
          <label for="question01" class="control-label">Question 1</label>
          <div class="controls">
            <input type="text" id="question01" class="input-xlarge">
            <p class="help-block">Help text for Question 1 goes here.</p>
          </div>
        </div>
        <div class="control-group">
          <label for="question02" class="control-label">Question 2</label>
          <div class="controls">
            <input type="date" id="question02" class="input-xlarge datepicker">
            <p class="help-block">Help text for Question 2 goes here.</p>
          </div>
        </div>        
        <div class="control-group">
          <label for="select01" class="control-label">Select list</label>
          <div class="controls">
            <select id="select01">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
          </div>
        </div>
      </fieldset>
    </div>
    
    <div class="section-header">
      <h2>
        Free-Response Questions
      </h2>
    </div>
    <div class="section-content">
      <fieldset>
        <div class="control-group">
          <label for="question01" class="control-label">Question 1</label>
          <div class="controls">
            <input type="text" id="question01" class="input-xlarge">
            <p class="help-block">Help text for Question 1 goes here.</p>
          </div>
        </div>
        <div class="control-group">
          <label for="question02" class="control-label">Question 2</label>
          <div class="controls">
            <input type="date" id="question02" class="input-xlarge datepicker">
            <p class="help-block">Help text for Question 2 goes here.</p>
          </div>
        </div>
      </fieldset>
    </div>
    
    <div class="section-header">
      <h2>
        Items
        <small>list line items for funding</small>
      </h2>
    </div>
    
    <div class="section-content">
      <p>Hi itemlist widget goes here</p>
    </div>
    
    <div class="section-header">
      <h2>
        Funders
        <small>select to apply</small>
      </h2>
    </div>
    <div class="section-content">
      {% for funder in test_funders %}
      <div class="funder-check">
        <label class="checkbox">
          <input class="funder-checkbox-{{forloop.counter0}}" type="checkbox">{{funder.0}}
        </label>
        <p class="help-block">{{funder.1}}</p>
      </div>
    {% endfor %}
    </div>
    
    <div class="section-header">
      <h2>
        Extra Questions
        <small>specific to each funder</small>
      </h2>
    </div>
    <div class="section-content">
      <p id="funder-no-q">No questions yet. Please select funders.</p>
      {% for q, qval in funder_qs.items %}      
      <div class="funder-q {{qval.0}}">
        <label>{{q}} <em>(for {{qval.1}})</em></label>
        <textarea class="span8" rows="3"></textarea>
      </div>
      {% endfor %}
    </div>
    
    <div class="form-actions">
      <button class="btn btn" type="submit" name="submit">Cancel</button>
      <button class="btn btn" type="submit" name="submit">Save</button>
      <button class="btn btn-primary" type="submit" name="submit">Submit</button>
    </div>
  </form>
    
</div>      
{% endblock %}
