{% extends "base-page.html" %}

{% load widgets %}
{% load helpers %}
    
{% block htmllink-styles %}
<link rel="stylesheet" href="{{STATIC_URL}}/css/form.css">
<link rel="stylesheet" href="{{ STATIC_URL }}/css/applist.css">
<link rel="stylesheet" href="{{ STATIC_URL }}/css/itemlist.css">
{% endblock %}

{% block htmllink-js %}
<script src="{{ STATIC_URL }}/js/itemlist.js"></script>
<script src="{{ STATIC_URL }}/js/fundingbar.js"></script>
{% endblock %}

{% block container %}      
<header>
  <div>
    <h2>Event</h2>
  </div>       
</header>
  
<div id="main">
    
  <form action="{% url app.views.event_show event.id %}" method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form.as_p }}
    <hr>
    {{ other_form.as_p }}

    <div class="form-actions">
      {% if not is_funder %}
      <button class="btn" type="submit" name="save">Save</button>
      <button class="btn btn-primary" type="submit" name="continue">Continue</button>
      {% endif %}
    </div>
  </form>
    
  {% if is_funder %}
  {% funder_item_table event.item_set.all cfauser_id %}
  {% endif %}
</div>      
{% endblock %}
