{% extends "base-page.html" %}

{% load widgets %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/applist.css">
{% endblock %}

{% block htmllink-js %}
<script src="{{ STATIC_URL }}/js/events.js"></script>
{% endblock %}

{% block container %}
<header>
{% if not user.is_staff and user.profile.is_requester %}
<div class="btns pull-right">
   <a class="btn btn-primary" href="{% url 'app.views.events_old' %}">Old Applications</a>
  <a class="btn btn-primary" href="{% url 'app.views.event_new' %}">Create New</a>

</div>
{% elif user.profile.is_funder %}
<div class="btns pull-right">
  <a class="btn btn-primary" href="{% url 'funder-edit' user.id %}">Edit Info</a>
</div>
{% endif %}
<div>
  <h2>
    Current Applications
    <small>Welcome, {{ user.profile }}!</small>
  </h2>
</div>
</header>

{% if messages %}
{% for message in messages %}
<div class='alert {% if message.tags %}alert-{{ message.tags }}{% endif %}'>
  <button type='button' class='close' data-dismiss='alert'>&times;</button>
  <strong>{{ message.tags|capfirst }}!</strong> {{ message }}
</div>
{% endfor %}
{% endif %}

<div id="main">
  <div class="row">
    <div class="span4">
      <strong><a href="{{ request.path }}?sort=event">Event</a></strong>
    </div>
    <div class="span2">
      <strong><a href="{{ request.path }}?sort=date">Event Date</a></strong>
    </div>
    <div class="span1">
      <strong><a href="{{ request.path }}?sort=org">Organization</a></strong>
    </div>
    <div class="offset1 span2">
      <strong>Status</strong>
    </div>
  </div>
  {% for app in apps %}
  <div class="event-row">
    <div class="row">
      <div class="span4 name">
        <span>{{ app.name }}</span>
      </div>
      <div class="span2 date">
        <span>{{ app.date }}</span>
      </div>
      <div class="span2 org">
        <span>{{ app.organizations }}</span>
      </div>
      <div class="span2 status">
        {% if app.date_passed %}
        <span class="label">OVER</span>
        {% elif app.followup_needed %}
        <span class="label label-important">FOLLOWUP</span>
        {% elif app.submitted %}
        <span class="label label-success">SUBMITTED</span>
        {% elif app.funded and app.total_remaining > 0 %}
        <span class="label label-warning">IN PROGRESS</span>
        {% elif app.funded and app.total_remaining <= 0 %}
        <span class="label label-inverse">FUNDED</span>
        {% elif app.saved %}
        <span class="label label-info">SAVED</span>
        {% endif %}
      </div>
      <div class="span2 buttons">
        {% if user.is_staff or event.over or user.profile.is_funder %}
        <a class="btn btn-info" href="{% url 'event-show' app.id %}">
          <i class="icon-file icon-white"></i> View
        </a>
        {% else %}
        <a class="destroy-event btn btn-danger" href="{% url 'event-destroy' app.id %}">
          <i class="icon-trash icon-white"></i> Delete
        </a>
        <a class="btn btn-info" href="{% url 'event-destroy' app.id %}">
          <i class="icon-edit icon-white"></i> Edit
        </a>
        {% endif %}
      </div>
      <div class="span12 funders">
        <table>
          <tbody>
            {% for funder, amount in app.amounts.items %}
            <tr>
              <td>{{funder}}</td>
              {% if amount != None %}
              <td>$ {{ amount }}</td>
              {% else %}
              <td class="pending">pending</td>
              {% endif %}
            </tr>
            {% endfor %}
            <tr>
              <td>Funds already received</td>
              <td>$ {{ app.total_funds_already_received }}</td>
            </tr>
            <tr>
              <td><b>Received Total</b></td>
              <td>$ {{ app.total_funds_received }}</td>
            </tr>
            <tr>
              <td><b>Remaining</b></td>
              <td>$ {{ app.total_remaining }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
  {% if page_length != 1 %}
  <div class="pagination pagination-centered">
    <ul>
      {% if page_obj.has_previous %}
      <li><a href="{% url 'app.views.events' %}?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% endif %}

      {% for i in page_range %}
          {% if i == page_obj.number %}
            <li class="active">
              <a href="{% url 'app.views.events' %}?page={{i}}">{{i}}</a>
            </li>
          {% else %}
            <li><a href="{% url 'app.views.events' %}?page={{i}}">{{i}}</a></li>
          {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li><a href="{% url 'app.views.events' %}?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
  {% if not apps %}
  <div>You do not have any current applications.</div>
  {% endif %}
</div>
{% endblock %}
