{% extends "base-page.html" %}

{% load widgets %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/applist.css">
<link rel="stylesheet" href="{{ STATIC_URL }}/css/fundingbar.css">
{% endblock %}

{% block htmllink-js %}
<script src="{{ STATIC_URL }}/js/events.js"></script>
{% endblock %}

{% block container %}
<header>
  {% if user.get_profile.is_requester %}
  <div class="btns pull-right">
    <a class="btn btn-primary" href="{% url app.views.event_new %}">Create New</a>
  </div>
  {% endif %}
  <div>
    <h2>
      Current Applications
      <small>Welcome, {{ user.username }}!</small>
    </h2>
  </div>
</header>
	
<div id="main">
  {% for app in apps %}
  <div class="app-item-row">
    <div class="row">
      <div class="span4 name">
        <span>{{ app.name }}</span>
      </div>
      <div class="span2 date">
        <span>{{ app.date }}</span>
      </div>
      <div class="offset2 span1 status">
        <!--<span class="label label-info">Saved</span>-->
        <!--<span class="label label-success">Submitted</span>-->
        {% if app.funded %}
        <span class="label label-success">Funded</span>
        {% else %}
        <span class="label label-important">UnFunded</span>
        {% endif %}
      </div>
      <div class="span3 buttons">        
        {% if user.get_profile.is_requester %}
        <a class="btn btn-danger pull-right" href="{% url app.views.event_destroy app.id %}">
          <i class="icon-trash icon-white"></i>
          Delete
        </a>
        {% endif %}
        <a class="btn btn-info pull-right" href="{% if user.get_profile.is_requester %}{% url app.views.event_edit app.id %}{% else %}{% url app.views.event_show app.id %}{% endif %}">
          <i class="icon-file icon-white"></i>
          View
        </a>
      </div>
      <div class="span12 funders">
        <table>
          <tbody>
            {% for funder, amount in app.amounts.items %}
            <tr>
              <td>{{funder}}</td>
              {% if amount %}
              <td>$ {{ amount }}</td>
              {% else %}
              <td class="pending">pending</td>
              {% endif %}
            </tr>
            {% endfor %}
            <tr>
              <td>Funds already received</td>
              <td>$ {{ app.total_funds_already_received }}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>$ {{ app.total_funds_received }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
  {% if not apps %}
  <div>You do not have any current applications.</div>
  {% endif %}
</div>
{% endblock %}
