{% extends "base-page.html" %}

{% load widgets %}
    
{% block htmllink-styles %}
<link rel="stylesheet" href="{{STATIC_URL}}/css/form.css">
{% endblock %}

{% block container %}      
<div id="main">
    
  <form action="{% url app.views.events %}" method="post" class="form-horizontal">
    {% csrf_token %}
    {% application event %}
    
    <div class="form-actions">
      <button class="btn btn" type="submit" name="submit">Cancel</button>
      <button class="btn btn" type="submit" name="submit">Save</button>
      <button class="btn btn-primary" type="submit" name="submit">Submit</button>
    </div>
  </form>
</div>      
{% endblock %}
