{% extends "base-page.html" %}

{% load widgets %}
{% load static %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{% static "css/applist.css" %}">
{% endblock %}

{% block htmllink-js %}
<script src="{% static "js/events.js" %}"></script>
{% endblock %}

{% block container %}
<header>
{% if not user.is_staff and user.profile.is_requester %}
<div class="btns float-right">
    {% if old %}
    <a class="btn btn-primary" href="{% url 'events' %}">Current Applications</a>
    {% else %}
    <a class="btn btn-primary" href="{% url 'old-events' %}">Past Applications</a>
    {% endif %}
    <a class="btn btn-success" href="{% url 'new-event' %}">Create New</a>
</div>
{% elif user.profile.is_funder %}
<div class="btns float-right">
  <a class="btn btn-primary" href="{% url 'funder-edit' user.id %}">Edit Info</a>
</div>
{% endif %}
<div>
  <h2>
    {% if old %}Past{% else %}Current{% endif %} Applications
    <small>Welcome, {{ user.username }}!</small>
  </h2>
</div>
<div class="section-content" style="margin-top: 20px">
  <div class="alert alert-info">
    <strong></strong>
    Tip: If you want to download a pdf of the application, click the Edit/View button then "Ctrl + P" using Chrome to save as PDF.
  </div>
  <div class="django-form clearfix">
      {{ form.as_p }}
  </div>
</div>
</header>

{% if messages %}
{% for message in messages %}
<div class='alert {% if message.tags %}alert-{{ message.tags }}{% endif %}'>
  <button type='button' class='close' data-dismiss='alert'>&times;</button>
  <strong>{{ message.tags|capfirst }}!</strong> {{ message }}
</div>
{% endfor %}
{% endif %}

<div id="main">
    <table id="events" class="table table-hover">
        <thead>
            <tr>
                <th><strong><a href="{{ request.path }}?sort=event">Event</a></strong></th>
                <th><strong><a href="{{ request.path }}?sort=date">Event Date</a></strong></th>
                <th><strong><a href="{{ request.path }}?sort=org">Organization</a></strong></th>
                <th><strong><a href="{{ request.path }}?sort=submit">Submission Date</a></strong></th>
                <th><strong>Status</strong></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
  {% for app in apps %}
  <tr class="event-row">
      <td>
        <span>{{ app.name }}</span>
        <div class="funders" style="display:none">
            <br />
            <table>
                <tbody>
                    {% for funder, amount in app.amounts.items %}
                    <tr>
                        <td>{{funder}}</td>
                        {% if amount != None %}
                        <td>$ {{ amount }}</td>
                        {% else %}
                        <td class="pending">pending</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Funds already received</td>
                        <td>$ {{ app.total_funds_already_received }}</td>
                    </tr>
                    <tr>
                        <td><b>Received Total</b></td>
                        <td>$ {{ app.total_funds_received }}</td>
                    </tr>
                    <tr>
                        <td><b>Remaining</b></td>
                        <td>$ {{ app.total_remaining }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
      </td>
      <td>
        <span>{{ app.date }}</span>
      </td>
      <td>
        <span>{{ app.organizations }}</span>
      </td>
      <td>
        <span>{{ app.updated_at }}</span>
      </td>
      <td>
        {% if app.date_passed %}
        <span class="badge badge-default">OVER</span>
        {% elif app.followup_needed %}
        <span class="badge badge-danger">FOLLOWUP</span>
        {% elif app.submitted %}
        <span class="badge badge-success">SUBMITTED</span>
        {% elif app.funded and app.total_remaining > 0 %}
        <span class="badge badge-warning">IN PROGRESS</span>
        {% elif app.funded and app.total_remaining <= 0 %}
        <span class="badge badge-primary">FUNDED</span>
        {% elif app.saved %}
        <span class="badge badge-info">SAVED</span>
        {% endif %}
    </td>
    <td>
      <div class="buttons float-right">
        {% if user.is_staff or event.over or user.profile.is_funder or old %}
        <a class="btn btn-sm btn-info text-white" href="{% url 'event-show' app.id %}">
          <i class="icon-file icon-white"></i> View
        </a>
        {% elif not old %}
        <a class="destroy-event btn btn-sm btn-danger" href="{% url 'event-destroy' app.id %}">
          <i class="icon-trash icon-white"></i> Delete
        </a>
        <a class="btn btn-sm btn-warning text-white" href="{% url 'event-edit' app.id %}">
          <i class="icon-edit icon-white"></i> Edit
        </a>
        {% endif %}
      </div>
      </td>
  </tr>
  {% empty %}
  <tr><td colspan="5">You do not have any {% if old %}old{% else %}current{% endif %} applications.</td></tr>
  {% endfor %}
        </tbody>
    </table>
  {% if page_length != 1 %}
  <div class="center-pagination">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="{% url 'events' %}?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% endif %}

      {% for i in page_range %}
          {% if i == page_obj.number %}
            <li class="page-item active">
              <a class="page-link" href="{% url 'events' %}?page={{i}}">{{i}}</a>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'events' %}?page={{i}}">{{i}}</a></li>
          {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="{% url 'events' %}?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
</div>
{% endblock %}
