{% extends "base-page.html" %}

{% load widgets %}
    
{% block htmllink-styles %}
<link rel="stylesheet" href="{{STATIC_URL}}/css/form.css">
{% endblock %}

{% block container %}      
<header>
  <div>
    <h2>Questions</h2>
  </div>       
</header>
  
<div id="main">
    
  <form action="{% url app.views.free_response event.id funder.id %}" method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
    {% if user.get_profile.is_funder %}
      <a class="btn btn-primary" href="./apps">Done</a>
    {% else %}
      <button class="btn btn-primary" name="save" type="submit">Save</button>
      <button class="btn btn-primary" name="submit" type="submit">Submit</button>
    {% endif %}
    </div>
  </form>
    
</div>      
{% endblock %}
