{% extends "base-page.html" %}

{% load widgets %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{{STATIC_URL}}css/form.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/funder.css">
{% endblock %}

{% block htmllink-js %}
<script src="{{ STATIC_URL }}js/lib/jquery.autosize.min.js"></script>
<script src="{{ STATIC_URL }}js/funder.js"></script>
{% endblock %}

{% block container %}
<div id="main">
  <section>
    <div class="section-header">
      <h2>
        Funder
        <small>Concise description of organization</small>
      </h2>
    </div>
    <div class="section-content">
      <form action="{% url app.views.funder_edit user.id %}" method="post" class="form-horizontal">
        {% csrf_token %}

        <div class="control-group">
          <label for="fundername" class="control-label">Funder Name</label>
          <div class="controls">
            <input value="{{ user.get_profile.funder_name }}" type="text" name="fundername" id="fundername" class="input-xlarge">
          </div>
        </div>

        <div class="control-group">
          <label for="missionstatement" class="control-label">Mission Statement</label>
          <div class="controls">
            <textarea type="text" name="missionstatement" class="span7 input-xlarge" rows="5">{{user.get_profile.mission_statement}}</textarea>
          </div>
        </div>

        <div id="free-response-questions">
          <p>
          Free Response Questions
          </p>
        <table class="table">
          <tbody>
            {% for question in funder_questions %}
            <tr>
              <td>
                <textarea type="text" name="freeresponsequestion" class="span7">{{question.question}}</textarea>
              </td>
              <td>
                <button class="btn btn-danger remove-freeresponsequestion">Remove</button>
              </td>
            </tr>
            {% endfor %}
            <tr>
              <td>
                <textarea type="text" name="freeresponsequestion" class="span7" rows="1">{{question.question}}</textarea>
              </td>
              <td>
                <button class="btn add-freeresponsequestion">Add</button>
              </td>
            </tr>
          </tbody>
        </table>
</div>

        <div class="form-actions">
          <a class="btn" href="{% url app.views.events %}">Cancel</a>
          <button class="btn btn-primary" type="submit" name="submit-funder">Submit</button>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock %}
