{% extends "base-page.html" %}
{% load widgets %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/applist.css">
<link rel="stylesheet" href="{{ STATIC_URL }}/css/itemlist.css">
{% endblock %}

{% block htmllink-js %}
<script src="{{ STATIC_URL }}/js/itemlist.js"></script>
<script src="{{ STATIC_URL }}/js/bootstrap-tooltip.js"></script>
{% endblock %}

{% block container %}
<header>
  <div class="btns pull-right">
    <a class="btn btn-success" href="javascript:addItem()">
      <i class="icon-plus icon-white"></i>
      Add Item
    </a>
  </div>
  <div>
    <h2>{{ event.name }}</h2>
  </div>
</header>

<div id="main">
  <form id="itemlist-form" method="post">{% csrf_token %}
    <input type="hidden" name="event_id" value="{{ event.id }}" />
    {% itemlist_requester event.item_set.all %}
    <div class="form-actions">
      <button class="btn" type="submit" name="back">Back</button>
      <button class="btn" type="submit" name="save">Save</button>
      <button class="btn btn-primary" type="submit" name="continue">Continue</button>
    </div>
  </form>
</div>
{% endblock %}
