{% load widgets %}

{% if event.followup_needed or event.over %}
<section id="followup" class="short-answer">
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Followup Questions
      <small>
        post-event report
      </small>
    </h2>
  </div>
  <div class="section-content">
    <fieldset>
    {% for qa in followup_qas %}
    <label for="followupquestion_{{qa.question.id}}">{{ qa.question.question }}</label>
    <textarea type="text"
      id="followupquestion_{{qa.question.id}}"
      name="followupquestion_{{qa.question.id}}"
      class="span6 followupquestion input-xlarge"
      {{extra_attrs}}>{{qa.answer.answer}}</textarea>
    {% endfor %}
    {% for qa in commonfollowup_qas %}
    <label for="commonfollowupquestion_{{qa.question.id}}">{{ qa.question.question }}</label>
    <textarea type="text"
      id="commonfollowupquestion_{{qa.question.id}}"
      name="commonfollowupquestion_{{qa.question.id}}"
      class="span6 commonfollowupquestion input-xlarge"
      {{extra_attrs}}>{{qa.answer.answer}}</textarea>
    {% endfor %}
    </fieldset>
  </div>
</section>
{% endif %}

<section>
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Event 
      <small>details about the event</small>
    </h2>
  </div>    
  <div class="section-content">
    <fieldset>
      <div class="control-group">
        <label for="questionname" class="control-label">Event Name</label>
        <div class="controls">
          <input value="{{ event.name }}{{info.name}}" type="text" name="name" id="questionname" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          <p class="help-block">Name of the event</p>
        </div>
      </div>
      <div class="control-group">
        <label for="questiondate" class="control-label">Event Date</label>
        <div class="controls">
          <input {% if event %}data-edit="true"{% endif %} data-year="{{ event.date.year }}" data-month="{{ event.date.month }}" data-day="{{ event.date.day }}" type="text" name='date' id="questiondate" class="input-xlarge datepicker" {{extra_attrs}} {{event_over_disable}}>
          <p class="help-block">Date of the event</p>
        </div>
      </div>
      <div class="control-group">
        <label for="questiontime" class="control-label">Event Time</label>
        <div class="controls">
          <!-- refer to https://docs.djangoproject.com/en/dev/ref/templates/builtins/#date -->
          <input value="{{ event.time|date:'H:i' }}" type="time" name="time" id="questiontime" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          <p class="help-block">Time of the event in 24-hour format</p>
        </div>
      </div>
      <div class="control-group">
        <label for="questionlocation" class="control-label">Location</label>
        <div class="controls">
          <input value="{{ event.location }}{{ info.location }}" name="location" type="text" id="questionlocation" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          <p class="help-block">Location of the event</p>
        </div>
      </div>
      <div class="control-group">
        <label for="questioncontactemail" class="control-label">Contact Email</label>
        <div class="controls">
          <input value="{{ event.contact_email }}{{ info.contactemail }}" type="email" name="contactemail" id="questioncontactemail" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          <p class="help-block">Primary contact's email address</p>
        </div>
      </div>
      <div class="control-group">
        <label for="questioncontactphone" class="control-label">Contact Phone</label>
        <div class="controls">
          <input value="{{ event.contact_phone }}{{ info.contactphone }}" type="text" name="contactphone" id="questioncontactphone" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          <p class="help-block">Primary contact's phone number</p>
        </div>
      </div>
      <div class="control-group">
        <label for="questionanticipatedattendance" class="control-label">Anticipated Attendance</label>
        <div class="controls">
          <input value="{{ event.anticipated_attendance }}{{ info.anticipatedattendance }}" type="number" min="0" name="anticipatedattendance" id="questionanticipatedattendance" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          <p class="help-block">Anticipated number of people attending the event</p>
        </div>
      </div>
      <div class="control-group">
        <label for="questionadmissionfee" class="control-label">Admission Fee</label>
        <div class="controls">
          <input value="{{ event.admission_fee }}{{ info.admissionfee }}" type="number" min="0" name="admissionfee" id="questionadmissionfee" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          <p class="help-block">Amount you plan charge as admission</p>
        </div>
      </div>
      <div class="control-group">
        <label for="questionadvisoremail" class="control-label">Advisor Email</label>
        <div class="controls">
          <input value="{{ event.advisor_email }}{{ info.advisoremail }}" type="email" name="advisoremail" id="questionadvisoremail" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          <p class="help-block">Advisor's email address</p>
        </div>
      </div>
      <div class="control-group">
        <label for="questionadvisorphone" class="control-label">Advisor Phone</label>
        <div class="controls">
          <input value="{{ event.advisor_phone }}{{ info.advisorphone }}" type="text" name="advisorphone" id="questionadvisorphone" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          <p class="help-block">Advisor's phone number</p>
        </div>
      </div>
      <div class="control-group">
        <label for="questionorganizations" class="control-label">Organization(s)</label>
        <div class="controls">
          <input value="{{ event.organizations }}{{ info.organizations }}" type="text" name="organizations" id="questionorganizations" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          <p class="help-block">Organization(s) involved with the event</p>
        </div>
      </div>
      <div class="control-group">
        <label for="fundingalreadyreceived" class="control-label">Funding Already Receieved</label>
        <div class="controls">
          <div class="input-prepend">
              <span class="add-on">$</span>
              <input value="{{ event.funding_already_received }}{{ info.fundingalreadyreceived }}" type="number" min="0" name='fundingalreadyreceived' id="fundingalreadyreceived" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          </div>
          <p class="help-block">Amount of funding already received that has not been allocated for any particular item</p>
        </div>
      </div>
    </fieldset>
  </div>
</section>

<section id="true-false">
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      True / False Questions
      <small>to recommend funders</small>
    </h2>
  </div>
  <div class="section-content">
    <fieldset>
      {% for qa in eligibility_qas %}
      <div class="control-group">
        <label class="control-label">Question {{forloop.counter}}</label>
        <div class="controls">
          <label>
            <input type="checkbox"
              id="eligibilityquestion_{{qa.question.id}}"
              name="eligibilityquestion_{{qa.question.id}}"
              data-recsyes="{{ qa.question.recs_yes }}"
              data-recsno="{{ qa.question.recs_no }}"
              class="bool-q"
              data-qid="{{qa.question.id}}"
              {{extra_attrs}} {{event_over_disable}}
              {% with qa.question.id|slugify as temp %}
                {% with "eligibilityquestion_"|add:temp as quest %}
                
                  {% if qa.answer.answer or info|get_item:quest %}checked{% endif %}>
                {% endwith %}
              {% endwith %}
          {{ qa.question.question }}</label>
        </div>
      </div>
      {% endfor %}
    </fieldset>
  </div>
</section>

<section class="short-answer">
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>Free-Response Questions</h2>
  </div>
  <div class="section-content">
    <fieldset>
      {% for qa in commonfreeresponse_qas %}
      <label for="commonfreeresponsequestion_{{qa.question.id}}">{{ qa.question.question }}</label>        
      <textarea type="text"
        id="commonfreeresponsequestion_{{qa.question.id}}"
        name="commonfreeresponsequestion_{{qa.question.id}}"
        class="span6 commonfreeresponsequestion input-xlarge"
        {{extra_attrs}} {{event_over_disable}}>{{qa.answer.answer}}{% with qa.question.id|slugify as temp %}{% with "commonfreeresponsequestion_"|add:temp as quest %}{{ info|get_item:quest|trim }}{% endwith %}{% endwith %}</textarea>        
      {% endfor %}
    </fieldset>
  </div>
</section>

<section>
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Items
      <small>list line items for funding</small>
    </h2>
  </div>
  <div class="section-content">
    <fieldset>
      {% if not user.is_staff and user.get_profile.is_requester %}
      {% itemlist_requester 1 event.item_set.all event.funded %}
      {% itemlist_requester 0 event.item_set.all event.funded %}
      <table class="items-total">
        <tr>
          <td>Sum Total</td>
          <td>$<span class="items-exp-total">0.00</span></td>
        </tr>
        <tr>
          <td>Revenue Total</td>
          <td>&ndash;$<span class="items-rev-total">0.00</span></td>
        </tr>
        <tr>
          <td>Already Funded</td>
          <td>&ndash;$<span class="items-funded">0.00</span></td>
        </tr>
        <tr>
          <td>Final Total</td>
          <td>$<span class="items-final-total">0.00</span></td>
        </tr>
      </table>
      {% else %}
      {% itemlist_funder 1 event.item_set.all event.applied_funders.all user.get_profile.id %}
      {% itemlist_funder 0 event.item_set.all event.applied_funders.all user.get_profile.id %}
      {% endif %}
    </fieldset>
  </div>
</section>

<section>
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Funders
      <small>select to apply</small>
    </h2>
  </div>
  <div class="section-content">
    <fieldset>
    {% for funder in funders %}
    <div class="funder-check">
      <label class="checkbox">
        <input
          data-funderid="{{funder.id}}"
          name="funder_{{ funder.id }}"
          class="funder-checkbox"
          
              {% with funder.id|slugify as temp %}
                {% with "funder_"|add:temp as quest %}
                  {% if funder in event.applied_funders.all or info|get_item:quest%}checked{% endif %}
                {% endwith %}
              {% endwith %}
          type="checkbox" {{extra_attrs}} {{event_over_disable}}>
          {{funder}}
      </label>
      <p class="help-block">{{funder.mission_statement}}</p>
    </div>
    {% endfor %}
    </fieldset>
    <!-- template for the recommendation label -->
    <script id="recommended-label" type="text/template">
      <span class="label label-success recommended-label">Recommended</span>
    </script>
  </div>
</section>

<section class="short-answer">
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Extra Questions
      <small>specific to each funder</small>
    </h2>
  </div>
  <div class="section-content">
    <fieldset>
    <p id="funder-no-q">
      {% if not user.is_staff and user.get_profile.is_requester %}
      No questions yet. Please select funders.
      {% else %}
      No other questions answered.
      {% endif %}
    </p>
    {% for qa in funder_qas %}
    <div class="extra-answer funder-q-{{ qa.question.funder.id }}">
      <label>{{ qa.question.question }} <em>for {{ qa.question.funder }}</em></label>
      <textarea type="text"
        name="freeresponsequestion_{{qa.question.id}}"
        class="span6 input-xlarge"
        {{extra_attrs}} {{event_over_disable}}>{{qa.answer.answer}}{% with qa.question.id|slugify as temp %}{% with "freeresponsequestion_"|add:temp as quest %}{{ info|get_item:quest|trim }}{% endwith %}{% endwith %}</textarea>        
      </textarea>
    </div>
    {% endfor %}
    </fieldset>
  </div>
</section>

<section>
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Comments
      <small>
        {% if user.get_profile.is_funder %}
        feel free to leave a message
        {% else %}
        here are some comments from your potential funders
        {% endif %}
      </small>
    </h2>
  </div>
  <div class="section-content">
    {% for comment in event.comments %}
    <p><strong>{{ comment.funder }}</strong> wrote on {{ comment.created }}</p>
    <blockquote>{{ comment }}</blockquote>
    {% empty %}
    There are no comments yet.
    {% endfor %}
    {% if user.get_profile.is_funder %}
    <p>Specify any conditions and stipulations here.</p>
    <textarea name="new-comment" class="span6 input-xlarge"></textarea>
    {% endif %}
  </div>
</section>
