{% load widgets %}

{% if event.followup_needed or event.over %}
<section id="followup" class="short-answer">
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Followup Questions
      <small>
        post-event report
      </small>
    </h2>
  </div>
  <div class="section-content">
    <fieldset>
    {% for qa in followup_qas %}
    <label for="followupquestion_{{qa.question.id}}">{{ qa.question.question }}</label>
    <textarea type="text"
      id="followupquestion_{{qa.question.id}}"
      name="followupquestion_{{qa.question.id}}"
      class="span8 followupquestion input-xlarge"
      {{extra_attrs}}>{{qa.answer.answer}}</textarea>
    {% endfor %}
    {% for qa in commonfollowup_qas %}
    <label for="commonfollowupquestion_{{qa.question.id}}">{{ qa.question.question }}</label>
    <textarea type="text"
      id="commonfollowupquestion_{{qa.question.id}}"
      name="commonfollowupquestion_{{qa.question.id}}"
      class="span8 commonfollowupquestion input-xlarge"
      {{extra_attrs}}>{{qa.answer.answer}}</textarea>
    {% endfor %}
    </fieldset>
  </div>
</section>
{% endif %}

{% event_details %}

<section id="true-false">
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      True / False Questions
      <small>to recommend funders</small>
    </h2>
  </div>
  <div class="section-content">
    <fieldset>
      {% for qa in eligibility_qas %}
        {% if not readonly or qa.answer.answer %}
        <div class="control-group">
          <label class="control-label">Question {{forloop.counter}}</label>
          <div class="controls">
            <label>
              <input type="checkbox"
                     id="eligibilityquestion_{{qa.question.id}}"
                     name="eligibilityquestion_{{qa.question.id}}"
                     data-recsyes="{{ qa.question.recs_yes }}"
                     data-recsno="{{ qa.question.recs_no }}"
                     class="bool-q"
                     data-qid="{{qa.question.id}}"
                     {{extra_attrs}} {{event_over_disable}}
                     {% if qa.answer.answer %}checked{% endif %}>
              {{ qa.question.question }}</label>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </fieldset>
  </div>
</section>

<section class="short-answer">
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>Free-Response Questions</h2>
  </div>
  <div class="section-content">
    <fieldset>
      {% for qa in commonfreeresponse_qas %}
      <label for="commonfreeresponsequestion_{{qa.question.id}}">{{ qa.question.question }}</label>
      <textarea type="text"
        id="commonfreeresponsequestion_{{qa.question.id}}"
        name="commonfreeresponsequestion_{{qa.question.id}}"
        class="span8 commonfreeresponsequestion input-xlarge"
        {{extra_attrs}} {{event_over_disable}}>{{qa.answer.answer}}</textarea>
      {% endfor %}
    </fieldset>
  </div>
</section>

<section>
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Items
      <small>list line items for funding</small>
    </h2>
  </div>
  <div class="section-content">
    <fieldset>
      {% if not user.is_staff and user.get_profile.is_requester %}
      {% itemlist_requester 0 event.item_set.all event.funded %}
      {% itemlist_requester 1 event.item_set.all event.funded %}
      <table class="items-total">
        <tr>
          <td>Sum Total</td>
          <td>$<span class="items-exp-total">0.00</span></td>
        </tr>
        <tr>
          <td>Revenue Total</td>
          <td>&ndash;$<span class="items-rev-total">0.00</span></td>
        </tr>
        <tr>
          <td>Already Funded</td>
          <td>&ndash;$<span class="items-funded">0.00</span></td>
        </tr>
        <tr>
          <td>Final Total</td>
          <td>$<span class="items-final-total">0.00</span></td>
        </tr>
      </table>
      {% else %}
      {% itemlist_funder 0 event.item_set.all event.applied_funders.all user.get_profile.id %}
      {% itemlist_funder 1 event.item_set.all event.applied_funders.all user.get_profile.id %}
      {% endif %}
    </fieldset>
  </div>
</section>

<section>
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Funders
      <small>select to apply</small>
    </h2>
  </div>
  <div class="section-content">
    <fieldset>
    {% for funder in funders %}
      {% if not readonly or funder in event.applied_funders.all %}
      <div class="funder-check">
        <label class="checkbox">
          <input
            data-funderid="{{funder.id}}"
            name="funder_{{ funder.id }}"
            class="funder-checkbox"
            {% if funder in event.applied_funders.all %}checked{% endif %}
            type="checkbox" {{extra_attrs}} {{event_over_disable}}>
            {{funder}}
        </label>
        <p class="help-block">{{funder.mission_statement}}</p>
      </div>
      {% endif %}
    {% endfor %}
    </fieldset>
    <!-- template for the recommendation label -->
    <script id="recommended-label" type="text/template">
      <span class="label label-success recommended-label">Recommended</span>
    </script>
  </div>
</section>

<section class="short-answer">
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Extra Questions
      <small>specific to each funder</small>
    </h2>
  </div>
  <div class="section-content">
    <fieldset>
    <p id="funder-no-q">
      {% if not user.is_staff and user.get_profile.is_requester %}
      No questions yet. Please select funders.
      {% else %}
      No other questions answered.
      {% endif %}
    </p>
    {% for qa in funder_qas %}
      {% if not readonly or qa.question.funder == user.get_profile or qa.question.funder == event.shared_funder %}
      <div class="extra-answer funder-q-{{ qa.question.funder.id }}">
        <label>{{ qa.question.question }} <em>for {{ qa.question.funder }}</em></label>
        <textarea type="text"
          name="freeresponsequestion_{{qa.question.id}}"
          class="span8 input-xlarge"
          {{extra_attrs}} {{event_over_disable}}>{{qa.answer.answer}}</textarea>
      </div>
      {% endif %}
    {% endfor %}
    </fieldset>
  </div>
</section>

<section>
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Comments
      <small>
        {% if user.get_profile.is_funder %}
        feel free to leave a message
        {% else %}
        here are some comments from your potential funders
        {% endif %}
      </small>
    </h2>
  </div>
  <div class="section-content">
    {% for comment in event.comments %}
    <p><strong>{{ comment.funder }}</strong> wrote on {{ comment.created }}</p>
    <blockquote>{{ comment }}</blockquote>
    {% empty %}
    There are no comments yet.
    {% endfor %}
    {% if user.get_profile.is_funder %}
    <p>Specify any conditions and stipulations here.</p>
    <textarea name="new-comment" class="span8 input-xlarge"></textarea>
    {% endif %}
  </div>
</section>
