<section>
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Event
      <small>details about the event</small>
    </h2>
  </div>
  <div class="section-content">
    <div class="alert alert-info">
      <strong>Heads up!</strong>
      Make sure you fill out all fields before submitting the application.<br>
      <strong>Tip:</strong>
      If you want to download a pdf of the application, click the Edit/View button then "Ctrl + P" using Chrome to save as PDF.
    </div>
    <div class="django-form clearfix">
        {{ form.as_p }}
    </div>
  </div>
</section>
