<section>
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      Event
      <small>details about the event</small>
    </h2>
  </div>
  <div class="section-content">
    <div class="alert alert-info">
      <strong>Heads up!</strong>
      Make sure you fill out all fields before submitting the application. If you are importing line items from a .csv file, make sure the column names match what is on our online form.
    </div>
    <div class="django-form clearfix">
        {{ form.as_p }}
    </div>
  </div>
</section>
