<section>
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      {{event.name}}
    <small>details about the event</small>
    </h2>
    {% if event.has_update %}
    <h4><small>Last updated: {{ event.updated_at }}</small></h4>
    {% endif %}
    <h4><small>Date submitted: {{ event.created_at }}</small></h4>
  </div>
  <div class="section-content">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="id_name" class="control-label">Event Name</label>
          <div class="controls">
            <input value="{{ event.name }}" type="text" name="name" id="id_name" class="form-control" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="form-group">
          <label for="id_date" class="control-label">Event Date</label>
          <div class="controls">
            <input value="{{ event.date|date:'Y-m-d' }}" {% if event %}data-edit="true"{% endif %} data-year="{{ event.date.year }}" data-month="{{ event.date.month }}" data-day="{{ event.date.day }}" type="text" name='date' id="id_date" class="form-control datepicker" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="form-group">
          <label for="id_time" class="control-label">Event Time</label>
          <div class="controls">
            <input value="{{ event.time|date:'H:i' }}" type="time" name="time" id="id_time" class="form-control" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="form-group">
          <label for="id_organizations" class="control-label">Organization(s)</label>
          <div class="controls">
            <input value="{{ event.organizations }}" type="text" name="organizations" id="id_organizations" class="form-control" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="form-group">
          <label for="id_location" class="control-label">Location</label>
          <div class="controls">
            <input value="{{ event.location }}" name="location" type="text" id="id_location" class="form-control" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="form-group">
          <label for="id_anticipatedattendance" class="control-label">Anticipated Attendance</label>
          <div class="controls">
            <input value="{{ event.anticipated_attendance }}" type="number" min="0" name="anticipatedattendance" id="id_anticipatedattendance" class="form-control" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="id_contactname" class="control-label">Contact Name</label>
          <div class="controls">
            <input value="{{ event.contact_name }}" type="text" name="contactname" id="id_contactname" class="form-control" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="form-group">
          <label for="id_contactemail" class="control-label">Contact Email</label>
          <div class="controls">
            <input value="{{ event.contact_email }}" type="email" name="contactemail" id="id_contactemail" class="form-control" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="form-group">
          <label for="id_contactphone" class="control-label">Contact Phone</label>
          <div class="controls">
            <input value="{{ event.contact_phone }}" type="text" name="contactphone" id="id_contactphone" class="form-control" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="form-group">
          <label for="id_advisoremail" class="control-label">Advisor Email</label>
          <div class="controls">
            <input value="{{ event.advisor_email }}" type="email" name="advisoremail" id="id_advisoremail" class="form-control" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="form-group">
          <label for="id_advisorphone" class="control-label">Advisor Phone</label>
          <div class="controls">
            <input value="{{ event.advisor_phone }}" type="text" name="advisorphone" id="id_advisorphone" class="form-control" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="form-group">
          <label for="fundingalreadyreceived" class="control-label">Funding Already Receieved</label>
          <div class="controls">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input value="{{ event.funding_already_received }}" type="number" min="0" name='fundingalreadyreceived' id="fundingalreadyreceived" class="form-control" {{extra_attrs}} {{event_over_disable}}>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
