<section>
  <div class="section-header">
    <a class='section-toggle'></a>
    <h2>
      {{event.name}}
    <small>details about the event</small>
    </h2>
    <h4><small>Date submitted: {{ event.created_at }}</small></h4>
  </div>
  <div class="section-content">
    <div class="row">
      <div class="span6">
        <div class="control-group">
          <label for="questionname" class="control-label">Event Name</label>
          <div class="controls">
            <input value="{{ event.name }}" type="text" name="name" id="questionname" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="control-group">
          <label for="questiondate" class="control-label">Event Date</label>
          <div class="controls">
            <input {% if event %}data-edit="true"{% endif %} data-year="{{ event.date.year }}" data-month="{{ event.date.month }}" data-day="{{ event.date.day }}" type="text" name='date' id="questiondate" class="input-xlarge datepicker" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="control-group">
          <label for="questiontime" class="control-label">Event Time</label>
          <div class="controls">
            <input value="{{ event.time|date:'H:i' }}" type="time" name="time" id="questiontime" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="control-group">
          <label for="questionorganizations" class="control-label">Organization(s)</label>
          <div class="controls">
            <input value="{{ event.organizations }}" type="text" name="organizations" id="questionorganizations" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="control-group">
          <label for="questionlocation" class="control-label">Location</label>
          <div class="controls">
            <input value="{{ event.location }}" name="location" type="text" id="questionlocation" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="control-group">
          <label for="questionanticipatedattendance" class="control-label">Anticipated Attendance</label>
          <div class="controls">
            <input value="{{ event.anticipated_attendance }}" type="number" min="0" name="anticipatedattendance" id="questionanticipatedattendance" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="control-group">
          <label for="questioncontactname" class="control-label">Contact Name</label>
          <div class="controls">
            <input value="{{ event.contact_name }}" type="text" name="contactname" id="questioncontactname" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="control-group">
          <label for="questioncontactemail" class="control-label">Contact Email</label>
          <div class="controls">
            <input value="{{ event.contact_email }}" type="email" name="contactemail" id="questioncontactemail" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="control-group">
          <label for="questioncontactphone" class="control-label">Contact Phone</label>
          <div class="controls">
            <input value="{{ event.contact_phone }}" type="text" name="contactphone" id="questioncontactphone" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="control-group">
          <label for="questionadvisoremail" class="control-label">Advisor Email</label>
          <div class="controls">
            <input value="{{ event.advisor_email }}" type="email" name="advisoremail" id="questionadvisoremail" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="control-group">
          <label for="questionadvisorphone" class="control-label">Advisor Phone</label>
          <div class="controls">
            <input value="{{ event.advisor_phone }}" type="text" name="advisorphone" id="questionadvisorphone" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
          </div>
        </div>
        <div class="control-group">
          <label for="fundingalreadyreceived" class="control-label">Funding Already Receieved</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">$</span>
              <input value="{{ event.funding_already_received }}" type="number" min="0" name='fundingalreadyreceived' id="fundingalreadyreceived" class="input-xlarge" {{extra_attrs}} {{event_over_disable}}>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
