<div class="fundingbar">
  <div class="btn-group">
    <a class="btn" data-toggle="dropdown" href="#">
      $ {{currentAmount}} / {{totalAmount}}
    </a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Approved</li>
      {% for item in fundItems %}
        <li><a>{{item.funder}} - ${{item.amount}}</a></li>
      {% endfor %}
      <li class="dropdown-header">Pending</li>
      <li><a href="#">Contingency</a></li>
      <li class="dropdown-header">Apply</li>
      <li><a href="#">SAC</a></li>
    </ul>
  </div>
  <div class="progress">
    {% for item in fundItems %}
      <div class="bar" rel="tooltip"
           title="{{item.funder}} : ${{item.amount}}"
           style="width: {{item.percent}}%;">      
      </div>
    {% endfor %}
  </div>
</div>