<div class='remove' style='display:none'>
  <button class='btn btn-danger remove_button' onclick="removeItem(this); return false;">Remove</button>
</div>
<table id='item-table' class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price Per Unit</th>
      <th>Funding Already Received</th>
      <th>Amount</th>        
      <th>Category</th>
      {% if not funded %}
      <th class='action-column'>Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr class='app-itemrow'>
        <td>
          <input name="item_name" type="text" class='small' 
            required {% if funded %} disabled {% endif %}
            value="{{ item.name }}" />
        </td>
        <td>
          <input name="item_quantity" type="text" class='small'
            required {% if funded %} disabled {% endif %}
            pattern="^\d+"
            value="{{ item.quantity }}" />
        </td>
        <td> 
          <div class="input-prepend">
            <span class="add-on">$</span>
            <input class="inputIcon small input-with-dollar" name="item_price_per_unit"
              required {% if funded %} disabled {% endif %} type="number"
              pattern="^\d*(\.\d{2}$)?"
              value="{{ item.price_per_unit }}"/>
          </div>
        </td>
        <td> 
          <div class="input-prepend">
            <span class="add-on">$</span>
            <input class="inputIcon input-with-dollar" name="item_funding_already_received"
              type="number" required {% if funded %} disabled {% endif %}
              pattern="^\d*(\.\d{2}$)?"
              value="{{ item.funding_already_received }}" />
          </div>
        </td>
        <td>
          <select name='item_category' {% if funded %} disabled {% endif %}>
            <option>Food</option>
            <option>Drink</option>
            <option>blah</option>
            <option>test</option>
            <option>stuff</option>
            <option>performer</option>
            <option>testing</option>
          </select>
        </td>
        {% if not funded %}
        <td>
          <button class='btn btn-danger remove_button' onclick="removeItem(this); return false;">Remove</button>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    {% if not funded %}
    <tr class='itemrow'>
      <th>
        <input class="new small" onkeyup="makeRequired(this)" name="item_name" type="text"/>
      </th>
      <th>
        <input class="new small" onkeyup="makeRequired(this)" name="item_quantity" type="number"/>
      </th>
      <th> 
        <div class="input-prepend">
          <span class="add-on">$</span>
          <input class="new inputIcon small input-with-dollar" onkeyup="makeRequired(this)" name="item_price_per_unit" type="number"/>
        </div>
      </th>
      <th> 
        <div class="input-prepend">
          <span class="add-on">$</span>
          <input class="new inputIcon input-with-dollar" onkeyup="makeRequired(this)" name="item_funding_already_received" type="number"/>
        </div>
        <p class="item-amount">0.00</p>
      </th>
      <th>
        <select name='item_category'>
          <option>Food</option>
          <option>Drink</option>
          <option>blah</option>
          <option>test</option>
          <option>stuff</option>
          <option>performer</option>
          <option>testing</option>
        </select>
      </th>
      <th>
        <button class='btn add' onclick='addItem(this); return false;'>Add</button>
      </th>
    </tr>

    {% endif %}

  </tbody>
</table>
<h3 class="items-total">Total: <small>0.00</small> </h3> 

