<div class='remove' style='display:none'>
  <button class='btn btn-danger remove_button' onclick="removeItem(this); return false;">Remove</button>
</div>
<table id='item-table' class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price Per Unit</th>
      <th>Funding Already Received</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr class='app-itemrow'>
        <th>
          <input name="item_name" type="text" class='small' required value="{{ item.name }}" />
        </th>
        <th>
          <input name="item_quantity" type="text" class='small'
            required
            pattern="^\d+"
            value="{{ item.quantity }}" />
        </th>
        <th> 
          <input class="inputIcon small" name="item_price_per_unit" type="text"
            required
            pattern="^\d*(\.\d{2}$)?"
            value="{{ item.price_per_unit }}"/>
        </th>
        <th> 
          <input class="inputIcon" name="item_funding_already_received" type="text"
            required
            pattern="^\d*(\.\d{2}$)?"
            value="{{ item.funding_already_received }}" />
        </th>
        <th>
          <select name='item_category'>
            <option>Food</option>
            <option>Drink</option>
            <option>blah</option>
            <option>test</option>
            <option>stuff</option>
            <option>performer</option>
            <option>testing</option>
          </select>
        </th>
        <th>
          <button class='btn btn-danger remove_button' onclick="removeItem(this); return false;">Remove</button>
        </th>
      </tr>
    {% endfor %}
    <tr id='itemrow'>
      <th>
        <input class="new small" name="item_name" type="text"/>
      </th>
      <th>
        <input class="new small" name="item_quantity" type="text"/>
      </th>
      <th> 
        <input class="new inputIcon small" name="item_price_per_unit" type="text"/>
      </th>
      <th> 
        <input class="new inputIcon" name="item_funding_already_received" type="text"/>
      </th>
      <th>
        <select name='item_category'>
          <option>Food</option>
          <option>Drink</option>
          <option>blah</option>
          <option>test</option>
          <option>stuff</option>
          <option>performer</option>
          <option>testing</option>
        </select>
      </th>
      <th>
        <button class='btn add' onclick='addItem(this); return false;'>Add</button>
      </th>
    </tr>
  </tbody>
</table>
