{% if is_revenue %}
<div>
  <h3>
    Additional Funds
    <small>list all non-CFA funding sources and admission fees</small>
  </h3>
</div>
{% else %}
<div>
  <h3>
    Expense Items
    <small>list your projected expense items</small>
  </h3>
</div>
{% endif %}
<table class='table table-striped' id='item-table'>
  <thead>
    {% if items_data %}
    <tr>
      {% for title in titles %}
      <th>{{ title }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for infos, grant_datas in items_data %}
    <tr>
      {% for info in infos %}
      <td>{{ info }}</td>
      {% endfor %}

      {% for funder_id, grant_amount, item_id in grant_datas %}
      {% ifequal funder_id current_funder %}
        <td>
          <div class="input-prepend">
            <span class="add-on">$</span>
            <input  class="funding-given inputIcon small input-with-dollar" name="item_{{ item_id }}"
              type='text'
              {% ifnotequal grant_amount None %}
              value="{{ grant_amount }}"
              {% endifnotequal %}
              pattern="^(?!Fund Amount\.\.\.)^\d*(\.\d{2}$)?"
              onfocus="newInputClicked(this)"
              onblur="newInputCheck(this, '{{ grant_amount }}')"
              onkeydown="numericOnly(event)"/>
          </div>
        </td>
      {% else %}
        {% ifnotequal grant_amount None %}
          <td>${{ grant_amount }}</td>
          {% else %}
          <td><em>pending</em></td>
        {% endifnotequal %}
      {% endifequal %}
      {% endfor %}
    </tr>
    {% endfor %}
    {% else %}
    No items have been added.
    {% endif %}
  </tbody>
</table>
