<table class='table table-striped' id='item-table'>
  <thead>
    {% if items_data %}
    <tr>
      {% for title in titles %}
      <th>{{ title }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for infos, grant_datas in items_data %}
    <tr>
      {% for info in infos %}
      <td>{{ info }}</td>
      {% endfor %}
      
      {% for funder_id, grant_amount, item_id in grant_datas %}
      {% ifequal funder_id current_funder %}
      <td>
        <div class="input-prepend">
          <span class="add-on">$</span>
          <input class="inputIcon small input-with-dollar" name="item_{{ item_id }}"
            value="{{ grant_amount }}"
            pattern="^(?!Fund Amount\.\.\.)^\d*(\.\d{2}$)?"
            onfocus="newInputClicked(this)"
            onblur="newInputCheck(this, '{{ grant_amount }}')"
            onkeydown="numericOnly(event)"/>
        </div>
      </td>
      {% else %}
      <td>${{ grant_amount }}</td>
      {% endifequal %}
      {% endfor %}
    </tr>
    {% endfor %}
    {% else %}
    No items have been added.
    {% endif %}
  </tbody>
</table>
