

{% if is_revenue %}
<div>
  <h3>
    Additional Funds
    <small>list all non-CFA funding sources and admission fees</small>
  </h3>
</div>
{% else %}
<div>
  <h3>
    Expense Items
    <small>list your projected expense items</small>
  </h3>
</div>
{% endif %}


<div class='remove' style='display:none'>
  <button class='btn btn-danger remove-item'>Remove</button>
</div>
<table id='item-table' class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Price Per Unit</th>
      <th {% if is_revenue %}class='hidden'{% endif %}>Already Received</th>
      <th>Amount</th>
      {% if not funded %}
      <th class='action-column'>Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
        <tr class='itemrow {% if is_revenue %} revenue-item {% else %} expense-item {% endif %}'>
          <input name="item_revenue" type="hidden" value="{{ is_revenue }}" />
          <td>
            <input id="item_name" name="item_name" type="text" class='form-control'
              required {% if funded %} readonly {% endif %}
              value="{{ item.name }}" />
          </td>
          <td>
            <select class="form-control item_category" name='item_category' {% if funded %} readonly {% endif %}>
            <option value="{{ item.category }}" selected> {{ item.get_category_display }} </option>
              {% for item_category in CATEGORIES %}
                {% if item_category.1 != item.get_category_display %}
            <option value="{{ item_category.0 }}"> {{ item_category.1 }} </option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
          <td>
            <input id="item_quantity" name="item_quantity" type="number" class='form-control'
              required {% if funded %} readonly {% endif %}
              pattern="^\d+" step="1"
              value="{{ item.quantity }}" />
          </td>
          <td>
            <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
              <input class="inputIcon form-control input-with-dollar"
                id="item_price_per_unit" name="item_price_per_unit"
                required {% if funded %} readonly {% endif %} type="number"
                pattern="^\d*(\.\d{2}$)?" step="0.01"
                value="{{ item.price_per_unit }}"/>
            </div>
          </td>
          <td {%if is_revenue %}class='hidden'{% endif %}>
            <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
              <input class="inputIcon form-control input-with-dollar"
                id="item_funding_already_received" name="item_funding_already_received"
                type="number" required {% if funded %} readonly {% endif %}
                pattern="^\d*(\.\d{2}$)?" step="0.01"
                value="{{ item.funding_already_received }}" />
            </div>
          </td>
          <td>
            $<span class="item-amount">0.00</span>
          </td>

          {% if not funded %}
          <td>
            <button class='btn btn-danger remove-item'>Remove</button>
          </td>
          {% endif %}
        </tr>
    {% endfor %}
    {% if not funded %}
    <tr class='itemrow {% if is_revenue %} revenue-item revenue-item-add-new {% else %} expense-item expense-item-add-new{% endif %}'>
      <input name="item_revenue" type="hidden" value="{{ is_revenue }}" />
      <td>
        <input class="new form-control" id="item_name" name="item_name" type="text"/>
      </td>
      <td>
        <select class="form-control item_category" name='item_category'>
          {% for item_category in CATEGORIES %}
          <option value="{{ item_category.0 }}"> {{ item_category.1 }} </option>
          {% endfor %}
        </select>
      </td>
      <td>
        <input class="new form-control" id="item_quantity" name="item_quantity" type="number"/>
      </td>
      <td>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
          <input class="new inputIcon form-control input-with-dollar"
          id="item_price_per_unit" name="item_price_per_unit" type="number" step="0.01"/>
        </div>
      </td>
      <td {% if is_revenue %}class='hidden'{% endif %}>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
          <input class="new inputIcon form-control input-with-dollar"
          id="item_funding_already_received" name="item_funding_already_received" type="number" step="0.01"/>
        </div>
      </td>
      <td>
        $<span class="item-amount">0.00</span>
      </td>

      <td>
        <button class='btn btn-success add add-item'>Add</button>
      </td>
    </tr>
    {% endif %}

  </tbody>
</table>
{% if is_revenue %}
<label for="revenue-itemlist-file">Choose file to populate items:</label>

<input type="file" id="revenue-itemlist-file" name="revenue-itemlist-file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
{% else %}
<label for="expense-itemlist-file">Choose file to populate items:</label>

<input type="file" id="expense-itemlist-file" name="expense-itemlist-file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
{% endif %}
