[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
dj-database-url = "*"
Django = "*"
django-extensions = "*"
django-registration = "*"
mysqlclient = "*"
raven = "*"
uwsgi = "*"

[dev-packages]
codecov = "*"
unittest-xml-reporting = "*"

[requires]
python_version = "3"
