{% extends "base.html" %}

{% load static %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block container %}

{% if form.errors %}
<div id="login-error" class="alert alert-danger">
        <a class="close" onclick="$('#login-error').slideUp(500)">x</a>
        <strong>Login Error!</strong> Incorrect username or password. Please try again.
</div>
{% endif %}

<div id="main" class="row">
  <div class="col-md-8">
    <h1>Common Funding Application</h1>
    <p>The Common Funding Application (CFA) is a one-stop online tool for student groups to request funding from multiple funding sources at once.</p>
    <p>Reminder: Apply for funding at least <strong>3 weeks before</strong> your event!</p><br>
    <h4>First-time user?</h4>
    <p>
      <ul>
        <li><a href="{% static "how-to-use.pdf" %}">How to Use the Common Funding App</a></li>
        <li><a href="{% static "img/info-graphic.png" %}">Infographic about the Funding Sources</a></li>
        <li><a href="{% static "funding-sources-info-table.pdf" %}">Funding Sources Info Table</a></li>
      </ul>
    </p>
  </div>

  <div id="login" class="col-md-4">
    <div class="box">
      <h2>Login</h2>

      <form method="post">
        {% csrf_token %}
        <fieldset>
          <div class="clearfix">
              <div class="form-group">
                  {{ form.username.label_tag }}
                  {{ form.username }}
              </div>

              <div class="form-group">
                  {{ form.password.label_tag }}
                  {{ form.password }}
              </div>
          </div>
        </fieldset>
        <button class="btn btn-primary" type="submit">Submit</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

      <p><strong>Need an account?</strong> <a href="{% url 'registration_register' %}">Sign up!</a></p>

    </div>
  </div>
</div>
{% endblock %}
