{% extends "base.html" %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{{STATIC_URL}}/css/index.css">
{% endblock %}

{% block container %}

{% if form.errors %}
<div id="login-error" class="alert alert-error">
        <a class="close" onclick="$('#login-error').slideUp(500)">x</a>
        <strong>Login Error!</strong> Incorrect username or password. Please try again.
</div>
{% endif %}

<div id="main" class="row">
  <div class="span7">
    <h1>Common Funding Application</h1>
    <p>The Common Funding Application (CFA) is a one-stop online tool for student groups to request funding from multiple funding sources at once.</p>
    <p>Reminder: Apply for funding at least <strong>3 weeks before</strong> your event!</p><br>
    <h4>First-time user?</h4>
    <p>
      <ul>
        <li><a href="{{STATIC_URL}}how-to-use.pdf">How to Use the Common Funding App</a></li>
        <li><a href="{{STATIC_URL}}img/info-graphic.png">Infographic about the Funding Sources</a></li>
        <li><a href="{{STATIC_URL}}funding-calendar.pdf">Funding Calendar</a></li>
        <li><a href="{{STATIC_URL}}funding-sources-info-table.pdf">Funding Sources Info Table</a></li>
      </ul>
    </p>
  </div>

  <div id="login" class="span4 offset1">
    <div class="box">
      <h2>Login</h2>

      <form method="post">
        {% csrf_token %}
        <fieldset>
          <div class="clearfix">
            <label for="user">{{ form.username.label_tag }}</label>
            {{ form.username }}

            <label for="user">{{ form.password.label_tag }}</label>
            {{ form.password }}
          </div>
        </fieldset>
        <button class="btn btn-primary" type="submit">Submit</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

      <p><strong>Need an account?</strong> <a href="{% url registration.views.register %}">Sign up</a></p>

    </div>
  </div>
</div>
{% endblock %}
