{% extends "base.html" %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{{STATIC_URL}}/css/index.css">
{% endblock %}

{% block container %}

{% if form.errors %}
<div id="login-error" class="alert alert-error">
        <a class="close" onclick="$('#login-error').slideUp(500)">x</a>
        <strong>Login Error!</strong> Incorrect username or password. Please try again.
</div>
{% endif %}

<div id="main" class="row">     
  <div class="span7">
    <h1>Common Funding Application</h1>
    <p>This is your one-stop source to apply for event funding from a variety of sources accross the university.</p>
    <p><strong>For student groups</strong>, you simply create an event, fill in the required information, and we recommend what funding sources to apply to. They then indicate what funding you will receive, and you get notifications along the way. Register now to get started!</p>
    <p><strong>For funding sources</strong>, you see all the events of every student group that has applied to you in one view. You can see how much other funding sources have granted and for what items and keep groups accountable.</p>
    <p>Questions or feedback? Use the "Feedback" button on the screen. If you're a funding source and want to get on the Common Funding App, e-mail Nikolai Zapertov (nikolaiz@sas). us at <a href="mailto:commonfundingapp@pennapps.com">commonfundingapp@pennapps.com</a></p>
  </div>
  
  <div id="login" class="span4 offset1">
    <div class="box">
      <h2>Login</h2>
      
      <form method="post">
        {% csrf_token %}
        <fieldset>              
          <div class="clearfix">
            <label for="user">{{ form.username.label_tag }}</label>
            {{ form.username }}
            
            <label for="user">{{ form.password.label_tag }}</label>
            {{ form.password }}
          </div>
        </fieldset>
        <button class="btn btn-primary" type="submit">Submit</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      
      <p><strong>Need an account?</strong> <a href="{% url registration.views.register %}">Sign up</a></p>
      
    </div>
  </div>
</div>
{% endblock %}
