{% extends "base-page.html" %}
{% load static %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{% static "/css/form.css" %}">
{% endblock %}

{% block container %}
<div id="main">
  <div id="register">
    <div class="box">
      <h2>Reset Password</h2>
      <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form id="reset-password-form" method="post" class="form-horizotal">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit" name="submit">Reset Password</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}
