{% extends "base-page.html" %}

{% load static %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{% static "/css/form.css" %}">
{% endblock %}

{% block container %}
<div id="main">
  <div id="register">
    <div class="box">
      <h2>Sign up</h2>
    <form id="register-form" method="post" class="form-horizotal">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit" name="submit">Sign Up</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}
