{% extends "base-page.html" %}
{% load static %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{% static "/css/form.css" %}">
{% endblock %}

{% block container %}
<div id="main">
  <div id="register">
    <div class="box">
        {% if validlink %}
      <h2>Enter new password</h2>
      <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form id="reset-password-form" method="post" class="form-horizotal">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit" name="submit">Change Password</button>
      </div>
    </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        <a href="{% url 'events' %}" class="btn btn-secondary btn-sm">Homepage</a>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
