{% extends "base-page.html" %}

{% load widgets %}
    
{% block htmllink-styles %}
<link rel="stylesheet" href="{{STATIC_URL}}/css/form.css">
{% endblock %}

{% block container %}      
<header>
  <div>
    <h2>Event</h2>
  </div>       
</header>
  
<div id="main">
    
  <form action="event" method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="event_id" value="{{ event_id }}" />
    
    <div class="form-actions">
      {% if is_funder %}
      <a class="btn btn-primary" href="free-response?event_id={{ event_id }}&funder_id={{ cfauser_id }}">Next</a>
      {% else %}
      <button class="btn" type="submit" name="save">Save</button>
      <button class="btn btn-primary" type="submit" name="continue">Continue</button>
      {% endif %}
    </div>
  </form>
    
</div>      
{% endblock %}
