{% extends "base-page.html" %}

{% load widgets %}
    
{% block htmllink-styles %}
<link rel="stylesheet" href="{{STATIC_URL}}front-end/css/form.css">
{% endblock %}

{% block container %}      
<header>
  <div>
    <h2>Questions</h2>
  </div>       
</header>
  
<div id="main">
    
  <form action="free-response" method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="event_id" value="{{ event_id }}" />
    <input type="hidden" name="funder_id" value="{{ funder_id }}" />
    
    <div class="form-actions">
    {% if is_funder %}
      <a class="btn btn-primary" href="./apps">Done</a>
    {% else %}
      <button class="btn btn-primary" name="save" type="submit">Save</button>
      <button class="btn btn-primary" name="submit" type="submit">Submit</button>
      <button class="btn" type="reset">Reset</button>
    {% endif %}
    </div>
  </form>
    
</div>      
{% endblock %}
