form {
  margin-bottom: 0;
}

form legend {
  margin-bottom: 0px;
  border: none;
}

fieldset {
  margin-bottom: 10px;
}

.form-actions {
  margin-bottom: 0px;
}

#main {
  margin-bottom: 0px;
}

/* FUNDING BAR */

.funding.progress .bar {
  float: left;
  
  background: #0E90D2;
  border: 1px solid;
  border-bottom-color: #0b72a4;
  border-right-color: #0b72a4;
  border-top-color: #44baf2;
  border-left-color: #44baf2;
}

ul {
  list-style-type: none;
}