#main, form, .form-actions ,input{
  margin-bottom: 0px;
}

#itemrow {
  display: none;
}

.app-item-row input.new {
  color: #999999;
}

/* FUNDING BAR */

.funding.progress .bar {
  float: left;
  
  background: #0E90D2;
  border: 1px solid;
  border-bottom-color: #0b72a4;
  border-right-color: #0b72a4;
  border-top-color: #44baf2;
  border-left-color: #44baf2;
}