.box {
  background-color: #f5f5f5;
  padding: 19px;
  min-height: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.navbar {
  margin: 0px;
}
.navbar-inner {
  border-radius: 0px;
}
.navbar .brand {
  
}
.navbar .nav {
  margin: 0px;
}

header {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
header h1, h2, h3, h4, h5, h6 {
  margin:0px;
}
h2 small {
    font-size: 70%;
    color: #666;
}
header .btns {
  text-align: right;
}
header .btns .btn {
  margin-left:8px;
}

footer {
  padding: 18px 0px;
  border-top: 1px solid #eee;
}
footer li {
  list-style: none;
  display: inline;
  border-right: 1px solid #e1e1e1;
  padding: 0 10px;
  color: #969696;
}
footer li:first-child {
  margin-left: 0px;
}
footer li:last-child {
  padding-right: 0;
  border-right: none;
}
footer a {
  color: #969696;
}
footer a:hover {
  color: #444;
  text-decoration: none;
}

#main {
  margin-top: 30px;
  margin-bottom: 30px;
}
