.box {
  background-color: #f5f5f5;
  padding: 19px;
  min-height: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.navbar {
  margin: 0px;
}
.navbar-inner {
  border-radius: 0px;
}
.navbar .brand {
  
}
.navbar .nav {
  margin: 0px;
}

header {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
header h1, h2, h3, h4, h5, h6 {
  margin:0px;
}
header .btns {
  text-align: right;
}
header .btns .btn {
  margin-left:8px;
}

footer {
  padding: 18px 0px;
  border-top: 1px solid #eee;
}

#main {
  margin-top: 30px;
  margin-bottom: 30px;
}



/* item list styling */

.items-funded{
  width:100%;
  text-align:right;
}

.items-total{
  width:100%;
  text-align:right;
  border-top: 1px solid #eee;
}



