form {
  margin-bottom: 0;
}

form legend {
  margin-bottom: 0px;
  border: none;
}

form ul {
  list-style-type: none;
}

fieldset {
  margin-bottom: 10px;
}

.form-actions {
  margin-bottom: 0px;
}

.form-horizontal .form-actions {  
  padding-left: 20px;
}

#main {
  margin-bottom: 0px;
}

.section-header {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.section-content {
  margin-bottom: 25px;
}
.section-content .bool-q {
  margin-bottom: 25px;
}
.section-content .funder-check .checkbox {
  font-weight: bold;
}
.section-content .funder-check .help-block {
  margin-left: 20px;
}
.section-content .funder-check {
  margin-bottom: 10px;
}
.section-content .funder-q {
  margin-bottom: 25px;
  display: none;
}
.section-content .funder-q em {
  color: #999;
}
#item-table input {
  width: 175px;
}
#item-table input.small {
  width: 100px;
}
#item-table .action-column {
  width: 75px;
}
