form {
  margin-bottom: 0;
}

form legend {
  margin-bottom: 0px;
  border: none;
}

form ul {
  list-style-type: none;
}

fieldset {
  margin-bottom: 10px;
}

.form-actions {
  margin-bottom: 0px;
}

.form-horizontal .form-actions {  
  padding-left: 20px;
}

#main {
  margin-bottom: 0px;
}

#fundingalreadyreceived {
  width: 242px;
}

.section-header {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.section-content {
  margin-bottom: 25px;
}
.section-content .funder-check .checkbox {
  font-weight: bold;
}
.section-content .funder-check .help-block {
  margin-left: 20px;
}
.section-content .funder-check {
  margin-bottom: 10px;
}
.section-content .funder-q {
  margin-bottom: 25px;
  display: none;
}
.section-content .funder-q em {
  color: #999;
}

.section-toggle {
  float: right;
  cursor: pointer;
  margin-top: 10px;
}

#item-table input {
  width: 175px;
}
#item-table input.small {
  width: 100px;
}
#item-table .action-column {
  width: 75px;
}
.item-category {
  width: 100px;
}
table.items-total {
  font-size: 14px;
  text-align: right;
  color: #999;
  float: right;
}
table.items-total td {
  padding: 5px 10px;
}

table.items-total tr:last-child {
  font-size: 18px;
  color: #000;
}

#free-response .control-label {
    float: none;
    width: 100%;
    text-align: left;
}
#free-response .controls {
    float: none;
    margin-left: 0px;
}

.recommended-label {
  padding: 3.5px;
  margin-left: 3px;
}
.extra-answer {
  margin-bottom: 25px;
}
#register-form input {
  width: 97%;
}
.email-error {
  color: #b94a48;
  border-color: #b94a48;
}
.email-error:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
.errorlist {
  float: right;
  margin: 0;
  padding: 0;
}
.errorlist li {
  color: #b94a48;
}
