#login input {
  width:250px;
}
#login label {
  margin: 10px 0px;
  width:auto;
}
#login .box p:last-child {
  margin-bottom: 0px;
}
#login fieldset {
  margin-bottom: 15px;
}
h1 {
  margin-bottom: 15px;
}

#login-error {
  margin-top: 15px;
}