/* Items List */

table#item-table td,
table#item-table th {
  padding: 8px 10px;
}
table#item-table td {
  width: 5%;
}
table#item-table td:nth-last-child(2) {
  width: 2%;
}
table#item-table td:last-child {
  width: 0.01%;
}

table#item-table input,
table#item-table select,
table#item-table button {
  width: 100%;
}
table#item-table div.input-prepend input {
  width: 60%;
}

table#item-table td.col-self input {
  width: 80px;
}

table.items-total {
  font-size: 14px;
  text-align: right;
  color: #999;
  float: right;
}
table.items-total td {
  padding: 5px 10px;
}

table.items-total tr:last-child {
  font-size: 18px;
  color: #000;
}