{% extends "base-page.html" %}

{% block htmllink-styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}front-end/css/applist.css">
{% endblock %}

{% block container %}
<header>
  <div>
    <h2>
      Eligible Funders
      <small>{{ event.name }}</small>
    </h2>
  </div>
</header>
	
<div id="main">
  {% for funder, funder_dict in funders.items %}
  <div class="app-item-row">
    <div class="row">
      <div class="span3">
        {% if funder_dict.willing %}
	        <span class="app-item-name eligible">
        {% else %}
	        <span class="app-item-name">
        {% endif %}

	        {{ funder }}
	      </span>
      </div>
      
      {% if funder_dict.applied %}
      <div class="app-item-date">
	Already Applied
      </div>
      {% else %}
      <div class="app-item-btns span4">
	<a class="btn btn-info" href="../../free-response?event_id={{event_id}}&funder_id={{funder_dict.id}}">
	  <i class="icon-pencil icon-white"></i>
	  Apply!
	</a>
      </div>
      {% endif %}

    </div>
  </div>
  {% empty %}
  <div>There are no valid funding organizations for your event.</div>
  {% endfor %}
</div>
{% endblock %}
