{% if is_revenue %}
<div>
  <h3>
    Additional Funds
    <small>list all non-CFA funding sources and admission fees</small>
  </h3>
</div>
{% else %}
<div>
  <h3>
    Expense Items
    <small>list your projected expense items</small>
  </h3>
</div> 
{% endif %}
<table class='table table-striped' id='item-table'>
  <thead>
    {% if items_data %}
    <tr>
      {% for title in titles %}
      <th>{{ title }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for item, grant_datas in items_data %}
    <tr class='{% if is_revenue %} revenue-item {% else %} expense-item {% endif %}'>
      <td>{{ item.name }}</td>
      <td>{{ item.get_category_display }}</td>
      <td>{{ item.quantity }}</td>
      <td>${{ item.price_per_unit }}</td>
      <td>
        $<span class="item-amount">{{item.total}}</span>
      </td>

      {% if not is_revenue %}
      <td>
        $<span class="item-received">{{ item.total_received }}</span>
      </td>
      {% endif %}

      {% for funder_id, grant_amount, item_id in grant_datas %}
      {% ifequal funder_id current_funder %}
        <td style="min-width:125px">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input class="funding-given form-control" name="item_{{ item_id }}"
              type='text'
              {% ifnotequal grant_amount None %}
              value="{{ grant_amount }}"
              {% endifnotequal %}
              pattern="^(?!Fund Amount\.\.\.)^\d*(\.\d{2}$)?"
          </div>
        </td>
      {% else %}
        {% ifnotequal grant_amount None %}
          <td>${{ grant_amount }}</td>
          {% else %}
          <td><em>pending</em></td>
        {% endifnotequal %}
      {% endifequal %}
      {% endfor %}
    </tr>
    {% endfor %}
    {% else %}
    No items have been added.
    {% endif %}
  </tbody>
</table>
